<section id="contact" style="position: relative; z-index: 2;">
    <div class="container-fluid px-4 px-lg-5 pt-5 pb-5"> 
        
        <div class="matrix-container">
            
            <div class="row align-items-center g-lg-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h2 class="display-4 fw-bold lh-1 mb-3">¡Hablemos!</h2>
                    <p class="fs-4"> 
                        ¿Tienes una idea? Iniciemos el protocolo de comunicación segura.
                    </p>
                </div> 

                <div class="col-md-10 mx-auto col-lg-6">
                    <form class="p-4" method="post" action="{{url_for('send_mail')}}">
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100">ENVIAR DATOS</button>
                    </form>  
                </div>              
            </div>

        </div> 
    </div>
</section>