<section class="container p-5" id="portfolio">
    <h2 class="text-center"> Mis Proyectos</h2>
    <hr class="mb-5">
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
    
        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/todo-list.png')}}" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Lista de tarea - Flask</h5>
                    <p class="card-text">Este es un proyecto de gesto de lista de tareas que esta desarrollado con flask y base de datos relacional</p>
                    <a href="#" class="nav-link text-primary">Link aqui</a>
                </div>            
            </div>       
        </div>
            
        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/blog-post.png')}}" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Lista de tarea - Flask</h5>
                    <p class="card-text">Este es un proyecto de gesto de lista de tareas que esta desarrollado con flask y base de datos relacional</p>
                    <a href="#" class="nav-link text-primary">Link aqui</a>
                </div>            
            </div>       
        </div>

            
        <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/api-contact.png')}}" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Lista de tarea - Flask</h5>
                    <p class="card-text">Este es un proyecto de gesto de lista de tareas que esta desarrollado con flask y base de datos relacional</p>
                    <a href="#" class="nav-link text-primary">Link aqui</a>
                </div>            
            </div>       
        </div>

{# 
PARA AÑADIR MÁS PROYECTOS SOLAMENTE BASTA CON COPIAR Y PEGAR ESTAS LINEAS POR CADA PROYECTO A AÑADIR
       <div class="col">
            <div class="card">
                <img src="{{ url_for('static', filename='img/api-contact.png')}}" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body">
                    <h5 class="card-title">Lista de tarea - Flask</h5>
                    <p class="card-text">Este es un proyecto de gesto de lista de tareas que esta desarrollado con flask y base de datos relacional</p>
                    <a href="#" class="nav-link text-primary">Link aqui</a>
                </div>            
            </div>       
        </div>         
#}



    </div>
    </section>